footer > div{
    height: 100%;
    width:100%;
    vertical-align: middle;
    display: table;
}

footer > div> p{
    height: 100%;
    margin: 0;
      color:white;
    display: table-cell;
    vertical-align: middle;


  }

footer{
    height: 3%;
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 7pt;
    text-align: right;
    padding-right: 1%;
}

footer div p a{
    color:white;
}
footer div p a:hover{
    color:rgb(253, 173, 173);
    font-weight: bold;
    text-decoration: none;
}
div > h5{
    margin-top: 10px;
}

div > p{
    margin-top: 15px;
}


.responsive_img_big{
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.75);
}


.h-all{
    width: 20%;
    text-align: center;
}

#h-methods{
    border:2px solid #ff01ff;
}

#h-input{
    border:2px solid #abd46e;
}

#h-settings{
    border: 2px solid #0000ff;
}

#h-graph{
    border: 2px solid #df0024;
}

#h-console{
    border: 2px solid #ffff00;
}

#h-name{
    border: 2px solid #00ffff;  
}

#h-place{
    border: 2px solid #ed6c9e;
}

#h-grid{
    border: 2px solid #67087b;
}

#h-save{
    border: 2px solid #5b3715;
}

#h-cancel{
    border: 2px solid #5b3715;
    margin-bottom: 5%;
}

.last{
    margin-bottom: 5%;
}

.comments{
    margin-left: 3%;
    margin-top: 30pt;
}

.comm{
    margin-top: 20pt;
    width: 50%;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);

}

@media (max-width:836px){
    p,h3,h4,h5{
        text-align: center;

    }
    
}

@media (max-width: 1000px) {
    .navbar-collapse
      {
          background-color:#353a40;

      }
    .last{
        margin-bottom: 15%;
    }
  }