{% extends 'base.html' %}
{% load static %}
{% block ac10 %}active{% endblock %}

{% block content %}
<div class="container-xl mt-5 ml-5">

    <a class="btn btn-primary" href="#" role="button">Vytvořit příspěvek</a>
    <div class="d-flex p-2 bd-highlight">
    {% for post in posts %}
        <div class="card mr-5 " style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.snippet}}</p>
            <a href="#" class="btn btn-primary stretched-link">{{post.author}}</a>
          </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}