{% extends 'base.html' %}





{% block content %}
<div class="container-lxg mt-5 ml-5">
        <h3>MarkoGebra</h3>
        <p>Apliakce pro jednoduchou tvorbu grafů, jejich úpravu a následné uložení ve formátu png.</p>
        </div>
      <div class="container-lxg mt-5 ml-5">
          <h3>Funkce aplikace</h3>
          <p>MarkoGebra má celkem 4 způsopby grafování.</p>
          <h5>Matematické</h5>
          <p>Body a funkce.</p>
          <h5>Koláčový graf</h5>
          <p>Základní vizualizace statistiky.</p>
          <h5>Sloupcový graf</h5>
          <p>Základní vizualizace statistiky.</p>
          <h5>Náhodný šum</h5>
          <p>Vizualizace náhodného šumu.</p>
      </div>
{% endblock %}